# Elasticsearch connection details
ELASTICSEARCH_HOST=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=

# Secret key for JWT
SECRET_KEY=

# Token expiration time in minutes
ACCESS_TOKEN_EXPIRE_MINUTES=

# User credentials
USER_EMAIL=
USER_PASSWORD_HASH=
USER_DISABLED=

#Elasticsearch
ES_HOST=
ES_PORT=
ES_SCHEME=
ES_USER=
ES_PASSWORD=