openapi: 3.0.0
info:
  title: Wazuh Agent API
  version: 1.0.0
  description: API for managing Wazuh agents and events

servers:
  - url: https://flask.aixsoar.com
    description: Production server

paths:
  /api/auth/login:
    post:
      summary: User login
      tags:
        - Post
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required:
                - username
                - password
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '404':
          $ref: '#/components/responses/NotFound'

        '500':
          $ref: '#/components/responses/InternalServerError'



  /api/wazuh/info:
    post:
      summary: Save agent info and events
      tags:
        - Post
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agents:
                  type: array
                  items:
                    $ref: '#/components/schemas/Agent'
                events:
                  type: array
                  items:
                    $ref: '#/components/schemas/WazuhEvent'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentInfoResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'

  #/api/wazuh/analysis:
    #post:
      #summary: Save event analysis
      #tags:
      #  - Post
      #security:
        #- bearerAuth: []
      #requestBody:
        #required: true
        #content:
          #application/json:
            #schema:
              #type: object
              #properties:
                #timestamp:
                  #type: string
                  #format: date-time
                  #example: "2024-09-10T13:35:26.015+0800"
                #agent_id:
                  #type: string
                  #example: "010"
                #agent_ip:
                  #type: string
                  #example: "192.168.211.23"
                #agent_name:
                  #type: string
                  #example: "202.5.255.142"
                #description:
                  #type: string
                  #example: "[File modification]: Possible web shell content added in /usr/bin/phar8.1.phar"
                #level:
                  #type: integer
                  #example: 12
                #mitre_tactics:
                  #type: string
                  #example: "Command and Control, Persistence"
                #mitre_techniques:
                  #type: string
                  #example: "Ingress Tool Transfer, Server Software Component"
                #mitre_ids:
                  #type: string
                  #example: "T1105, T1505"
                #event_id:
                  #type: string
                  #example: "N/A"
                #process_id:
                  #type: string
                  #example: "N/A"
                #image:
                  #type: string
                  #example: "N/A"
                #target_filename:
                  #type: string
                  #example: "N/A"
                #system_message:
                  #type: string
                  #example: "N/A"
                #analysis_result:
                  #type: string
                  #example: 
                    #event_overview: "The event is a system log entry with timestamp '2024-09-23T21:28:45.719+0800'. The agent information, including the ID, IP address, and name, are missing or not applicable ('N/A'). The description of the event is also unavailable."
                    #analysis: "Based on the available data, this event appears to be related to database synchronization (Dbsync) for UDP port 5353. The process involved in this operation is chrome.exe, which suggests that it might have been triggered by Google Chrome's activity. However, without more context about what exactly was modified during this Dbsync operation, we cannot determine whether this event represents a potential threat or an isolated incident. It could potentially indicate some unusual network traffic patterns, but further investigation would be necessary to confirm any malicious activities."
                    #recommended_actions:
                      #- "Investigate further: Review system logs and other relevant information to gather more details about this specific Dbsync operation. This may involve examining the contents of the 'full_log' field."
                      #- "Monitor system performance: Keep close watch on system resources (CPU, memory, disk usage) as well as network traffic patterns for any signs of suspicious activity that might relate to this event."
                      #- "Review user accounts: Verify if there have been any recent changes in user account settings or permissions that could affect database synchronization operations like this one."
                      #- "Apply patches and updates: Ensure all software components involved are up-to-date with security patches and latest versions, including Google Chrome itself."
                      #- "Configure firewall rules: Review existing firewall configurations to ensure they allow necessary UDP port 5353 communication while still restricting access from unknown sources."
                    #note: "Since the provided data lacks crucial details about the actual modification made during Dbsync operation (e.g., what exactly was modified), it is essential to conduct further investigation before drawing conclusions regarding potential threats or malicious activities. The recommended actions focus on gathering more information and implementing preventive measures rather than directly addressing a specific threat scenario."
      
      #responses:
        #'200':
          #description: Successful response
          #content:
            #application/json:
              #schema:
                #type: object
                #properties:
                  #message:
                    #type: string
                    #example: "Event analysis saved successfully."
        #'400':
          #$ref: '#/components/responses/BadRequest'
        #'401':
          #$ref: '#/components/responses/Unauthorized'
        #'403':
          #$ref: '#/components/responses/Forbidden'
        #'422':
          #$ref: '#/components/responses/UnprocessableEntity'
        #'500':
          #$ref: '#/components/responses/InternalServerError'

  /api/wazuh/agents/summary:
    get:
      summary: Get agent summary
      tags:
        - Get
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: start_time
          required: true
          schema:
            type: string
            format: date-time
        - in: query
          name: end_time
          required: true
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSummaryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'


  /api/wazuh/messages:
    get:
      summary: Get agent messages
      tags:
        - Get
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: start_time
          required: true
          schema:
            type: string
            format: date-time
        - in: query
          name: end_time
          required: true
          schema:
            type: string
            format: date-time
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentMessagesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'


  /api/wazuh/line-chart:
    get:
      summary: Get line chart data
      tags:
        - Get
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: start_time
          required: true
          schema:
            type: string
            format: date-time
        - in: query
          name: end_time
          required: true
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LineChartResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'


  /api/wazuh/total-event:
    get:
      summary: Get total event count
      tags:
        - Get
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: start_time
          required: true
          schema:
            type: string
            format: date-time
        - in: query
          name: end_time
          required: true
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TotalEventResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'


  /api/wazuh/pie-chart:
    get:
      summary: Get pie chart data
      tags:
        - Get
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: start_time
          required: true
          schema:
            type: string
            format: date-time
        - in: query
          name: end_time
          required: true
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PieChartResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'



components:
  responses:
      BadRequest:
        description: Bad Request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorResponse'
            example:
              success: false
              content: null
              message: "Bad Request"

      Unauthorized:
        description: Unauthorized
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorResponse'
            example:
              success: false
              content: null
              message: "Invalid token"

      Forbidden:
        description: Forbidden
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorResponse'
            example:
              success: false
              content: null
              message: "Permission denied"

      NotFound:
        description: NotFound
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorResponse'
            example:
              success: false
              content: null
              message: "User not found"

      MethodNotAllowed:
        description: Method Not Allowed
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorResponse'
            example:
              success: false
              content: null
              message: "Method Not Allowed"

      Conflict:
        description: Conflict
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorResponse'
            example:
              success: false
              content: null
              message: "Conflict"

      UnsupportedMediaType:
        description: Unsupported Media Type
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorResponse'
            example:
              success: false
              content: null
              message: "Unsupported Media Type"

      UnprocessableEntity:
        description: Unprocessable Entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorResponse'
            example:
              success: false
              content: null
              message: "Unprocessable Entity"

      InternalServerError:
        description: Internal Server Error
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ErrorResponse'
            example:
              success: false
              content: null
              message: "Internal Server Error"

  schemas:
    AgentMessage:
      type: object
      properties:
        id:
          type: integer
        time:
          type: string
        agent_id:
          type: string
        rule_description:
          type: string
        rule_mitre_tactic:
          type: string
        rule_mitre_id:
          type: string
        rule_level:
          type: integer

    AgentMessagesResponse:
      type: object
      properties:
        total:
          type: integer
        datas:
          type: array
          items:
            $ref: '#/components/schemas/AgentMessage'

    AgentMessagesRequest:
      type: object
      properties:
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        limit:
          type: integer
          minimum: 1
          maximum: 100
          default: 20

    LineData:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        data:
          type: array
          items:
            type: array
            items:
              oneOf:
                - type: string
                  format: date-time
                - type: integer

    LineChartResponse:
      type: object
      properties:
        label:
          type: array
          items:
            type: string
        datas:
          type: array
          items:
            $ref: '#/components/schemas/LineData'

    LineChartRequest:
      type: object
      properties:
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time

    TotalEventRequest:
      type: object
      properties:
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time

    TotalEventResponse:
      type: object
      properties:
        success:
          type: boolean
        content:
          type: object
          properties:
            count:
              type: string

    TotalEventAPIResponse:
      type: object
      properties:
        success:
          type: boolean
        content:
          $ref: '#/components/schemas/TotalEventResponse'

    PieChartItem:
      type: object
      properties:
        value:
          type: integer
        name:
          type: string

    PieChartData:
      type: object
      properties:
        top_agents:
          type: array
          items:
            $ref: '#/components/schemas/PieChartItem'
        top_mitre:
          type: array
          items:
            $ref: '#/components/schemas/PieChartItem'
        top_events:
          type: array
          items:
            $ref: '#/components/schemas/PieChartItem'
        top_event_counts:
          type: array
          items:
            $ref: '#/components/schemas/PieChartItem'

    PieChartRequest:
      type: object
      properties:
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time

    PieChartResponse:
      type: object
      properties:
        success:
          type: boolean
        content:
          $ref: '#/components/schemas/PieChartData'

    Agent:
      type: object
      properties:
        agent_name:
          type: string
          example: "test-agent-1"
        agent_id:
          type: string
          example: "001"
        ip:
          type: string
          example: "192.168.1.100"
        agent_status:
          type: string
          example: "Active"
        status_code:
          type: integer
          example: 0
        last_keep_alive:
          type: string
          format: date-time
          example: "2023-07-30T12:00:00Z"
        os:
          type: string
          example: "Ubuntu"
        os_version:
          type: string
          example: "20.04"
        group_name:
          type: string
          example: "group1"
        wazuh_data_type:
          type: string
          enum: [agent_info]

    WazuhEvent:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          example: "2023-07-30T12:05:00Z"
        agent_id:
          type: string
          example: "001"
        agent_ip:
          type: string
          example: "192.168.1.100"
        rule_description:
          type: string
          example: "File added to the system."
        rule_level:
          type: integer
          example: 3
        rule_id:
          type: string
          example: "550"
        rule_mitre_id:
          type: string
          nullable: true
          example: "T1078"
        rule_mitre_tactic:
          type: string
          nullable: true
          example: "Persistence"
        rule_mitre_technique:
          type: string
          nullable: true
          example: "Valid Accounts"
        group_name:
          type: string
          example: "group1"
        wazuh_data_type:
          type: string
          enum: [wazuh_events]
        analysis_result:
          type: string
          example: 
            event_overview: "The event is a system log entry with timestamp '2024-09-23T21:28:45.719+0800'. The agent information, including the ID, IP address, and name, are missing or not applicable ('N/A'). The description of the event is also unavailable."
            analysis: "Based on the available data, this event appears to be related to database synchronization (Dbsync) for UDP port 5353. The process involved in this operation is chrome.exe, which suggests that it might have been triggered by Google Chrome's activity. However, without more context about what exactly was modified during this Dbsync operation, we cannot determine whether this event represents a potential threat or an isolated incident. It could potentially indicate some unusual network traffic patterns, but further investigation would be necessary to confirm any malicious activities."
            recommended_actions:
              - "Investigate further: Review system logs and other relevant information to gather more details about this specific Dbsync operation. This may involve examining the contents of the 'full_log' field."
              - "Monitor system performance: Keep close watch on system resources (CPU, memory, disk usage) as well as network traffic patterns for any signs of suspicious activity that might relate to this event."
              - "Review user accounts: Verify if there have been any recent changes in user account settings or permissions that could affect database synchronization operations like this one."
              - "Apply patches and updates: Ensure all software components involved are up-to-date with security patches and latest versions, including Google Chrome itself."
              - "Configure firewall rules: Review existing firewall configurations to ensure they allow necessary UDP port 5353 communication while still restricting access from unknown sources."
            note: "Since the provided data lacks crucial details about the actual modification made during Dbsync operation (e.g., what exactly was modified), it is essential to conduct further investigation before drawing conclusions regarding potential threats or malicious activities. The recommended actions focus on gathering more information and implementing preventive measures rather than directly addressing a specific threat scenario."


    AgentInfoResponse:
      type: object
      properties:
        message:
          type: string
          example: "Agents info and events saved successfully"
        agent_ids:
          type: array
          items:
            type: string
          example: ["001", "002"]
        events_saved:
          type: object
          additionalProperties:
            type: integer
          example:
            "001": 5
            "002": 3

    AgentSummary:
      type: object
      properties:
        id:
          type: integer
        agent_name:
          type: string
        data:
          type: integer

    AgentSummaryRequest:
      type: object
      properties:
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time

    AgentSummaryResponse:
      type: object
      properties:
        agents:
          type: array
          items:
            $ref: '#/components/schemas/AgentSummary'
      example:
        {
          "agents": [
              {
                  "id": 1,
                  "agent_name": "Active agents",
                  "data": 0
              },
              {
                  "id": 2,
                  "agent_name": "Total agents",
                  "data": 0
              },
              {
                  "id": 3,
                  "agent_name": "Active Windows agents",
                  "data": 0
              },
              {
                  "id": 4,
                  "agent_name": "Windows agents",
                  "data": 0
              },
              {
                  "id": 5,
                  "agent_name": "Active Linux agents",
                  "data": 0
              },
              {
                  "id": 6,
                  "agent_name": "Linux agents",
                  "data": 0
              },
              {
                  "id": 7,
                  "agent_name": "Active MacOS agents",
                  "data": 0
              },
              {
                  "id": 8,
                  "agent_name": "MacOS agents",
                  "data": 0
              }
          ]
        }
 
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
        content:
          type: string
        message:
          type: string
  
    UserLogin:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        password:
          type: string
      required:
        - name
        - email
        - password

    LoginResponse:
      type: object
      properties:
        success:
          type: boolean
        content:
          type: object
          properties:
            access_token:
              type: string
            token_type:
              type: string
        message:
          type: string
      example:
        success: true
        content:
          access_token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJwb3RpbmciLCJleHAiOjE3MjM4MDk4NzZ9.F2kiDS_B5kih9awTG29T7HTRSGF7lExDV4iTPxgImfU"
          token_type: "bearer"
        message: "Login successfully"

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT